In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import xarray as xr
from All_functions.WOD_data_request import *
from All_functions.preprocess_df_stored import *

In [5]:
ds = WOD_whole_process(year_range=[2018], sensor_type_range=['ctd'], save=False)

/home/hqn21001/Final_Project/marn5895_project/All_functions/WOD_data_request.py:44: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return np.array(var_rewrite_array)

In [6]:
ds['lat'].values

array([44.6937, 44.6937, 44.9307, ..., 47.546 , 44.6937, 44.2675],
      dtype=float32)

In [4]:
ds = request_data_from_url(year=2018, sensor_type='pfl')

In [5]:
ds.reset_index(drop=True, inplace=True)
for i,x in enumerate(ds.Salinity):
    if x[0] == 3.227:
        print(i)

In [22]:
ds[[(x.month==1)&(x.day==1) for x in ds.time]]

,lat,lon,time,Oxygen,Temperature,Salinity,Chlorophyll,z
54,31.799770,-56.213848,2018-01-01 03:50:38.040733,[-9999],"[22.184, 22.177, 22.18, 22.181, 22.182, 22.187...","[36.822, 36.822, 36.822, 36.822, 36.822, 36.82...",[-9999],"[1.1519337, 2.0258102, 2.9791257, 4.011879, 4...."
73,41.740196,-64.296295,2018-01-01 04:55:18.838835,[-9999],"[16.009, 16.015, 16.017, 16.019, 16.019, 16.01...","[35.69001, 35.692005, 35.69201, 35.692997, 35....",[-9999],"[1.9843515, 2.97652, 3.9686835, 4.9608426, 6.0..."
102,30.236731,-58.629101,2018-01-01 05:40:18.838835,[-9999],"[23.298, 23.303, 23.307, 23.308, 23.308, 23.30...","[36.973, 36.971, 36.971, 36.972, 36.972, 36.97...",[-9999],"[0.75481194, 1.1123536, 1.9466149, 2.9397786, ..."
104,41.815334,-61.093655,2018-01-01 05:54:21.960554,[-9999],"[11.228, 11.225, 11.231, 11.228, 11.226, 11.22...","[33.629913, 33.631912, 33.63091, 33.631912, 33...",[-9999],"[2.2819867, 3.1749308, 4.1670866, 5.1592374, 6..."
110,59.240932,-52.750961,2018-01-01 06:02:48.840122,[-9999],"[3.902, 3.899, 3.906, 3.913, 3.913, 3.913, 3.9...","[34.779003, 34.78, 34.77701, 34.779003, 34.779...",[-9999],"[0.89156705, 1.4859428, 2.3775034, 3.368122, 4..."
141,31.492790,-73.360931,2018-01-01 06:19:41.159878,[-9999],"[22.445, 22.45, 22.448, 22.453, 22.47, 22.473,...","[36.69, 36.686, 36.69, 36.685905, 36.68679, 36...",[-9999],"[0.75473493, 0.83418053, 0.95334893, 1.0327944..."
197,58.373066,-55.962101,2018-01-01 08:40:18.840122,[-9999],"[3.227, 3.221, 3.224, 3.217, 3.217, 3.214, 3.2...","[34.726257, 34.726276, 34.724262, 34.725273, 3...",[-9999],"[1.9813956, 2.9720862, 3.962772, 5.0525208, 5...."
200,40.793133,-50.813477,2018-01-01 09:45:00.000000,[-9999],"[19.964, 19.969, 19.967, 19.968, 19.97, 19.972...","[36.40401, 36.406006, 36.404015, 36.40499, 36....",[-9999],"[1.4883944, 2.4806511, 3.4729033, 4.465151, 5...."
213,43.497002,-58.459999,2018-01-01 09:25:18.840122,[-9999],"[5.622, 5.673, 6.382, 7.472, 9.099, 11.361, 8....","[31.486168, 31.503168, 31.787167, 32.349163, 3...",[-9999],"[7.8864083, 22.864788, 28.121841, 31.395031, 4..."
227,34.753212,-53.197220,2018-01-01 10:32:48.840122,[-9999],"[15.275, 15.237, 15.185, 15.131, 14.96, 14.912...","[36.029152, 36.024147, 36.01416, 36.007168, 35...",[-9999],"[426.1638, 428.54153, 430.91922, 433.4952, 435..."
243,58.392570,-57.016525,2018-01-01 10:58:08.038158,[-9999],"[3.627, 3.634, 3.636, 3.637, 3.64, 3.636, 3.62...","[34.739, 34.739006, 34.739998, 34.739, 34.74, ...",[-9999],"[2.0804613, 2.9720812, 3.9627652, 4.9534445, 5..."
247,57.097874,-59.866566,2018-01-01 11:06:32.761230,[-9999],"[-0.893, -0.887, -0.888, -0.886, -0.887, -0.89...","[32.270004, 32.270004, 32.271, 32.270996, 32.2...",[-9999],"[1.8825263, 2.873323, 3.8641145, 4.854901, 5.8..."
362,40.530472,-61.231739,2018-01-01 17:48:46.441956,[-9999],"[21.218, 21.221, 21.225, 21.224, 21.225, 21.22...","[36.513, 36.509747, 36.510025, 36.509968, 36.5...",[-9999],"[0.7938306, 1.111362, 2.024262, 3.0165398, 3.9..."
432,34.164001,-64.275002,2018-01-01 21:05:38.040733,"[-9999.0, -9999.0, 204.6553, -9999.0, -9999.0,...","[22.38, 22.401, 22.40256, 22.414, 22.419, 22.4...","[36.55794, 36.58893, 36.591087, 36.60693, 36.6...",[-9999],"[4.447926, 6.13573, 6.3740067, 8.121364, 10.10..."

In [24]:
ds.iloc[197,:].Salinity

array([31.381905, 31.382904, 31.382904, 31.386904, 31.387905, 31.414906,
       31.613905, 32.016903, 32.639908, 32.85291 , 32.94491 , 33.40691 ,
       34.19199 , 34.714924, 34.894917, 34.844917, 35.605957, 35.590958,
       35.693974, 35.745983, 35.749985, 35.73098 , 35.701973, 35.68197 ,
       35.669968, 35.635963, 35.592953, 35.572952, 35.552948, 35.50894 ,
       35.454937, 35.384926, 35.368927, 35.341923, 35.272915, 35.258915,
       35.214912, 35.187912, 35.18391 , 35.17991 , 35.17091 , 35.133907,
       35.136906, 35.113903, 35.099903, 35.079903, 35.0569  , 35.0429  ,
       35.0299  , 35.0239  , 35.018898, 35.0179  , 35.016895, 35.013897,
       35.011898, 35.004898, 34.993896, 34.986897, 34.978897, 34.9749  ,
       34.9729  , 34.969902, 34.9669  , 34.9639  , 34.9609  , 34.9599  ,
       34.9589  , 34.9589  , 34.9589  , 34.955902, 34.9589  , 34.9579  ,
       34.961906, 34.962906, 34.961906, 34.962906, 34.961906, 34.960903,
       34.959904, 34.959904], dtype=float32)

In [23]:
WOD_whole_process(year_range=[2018], sensor_type_range=['pfl'], save=True)

In [3]:
df2 = pd.read_csv('/shared/marn5895/data/HungJosiahProject/WOD_NWA_2018_pfl.csv')
new_df2 = process_df(df2, inspect=True)

Temperature
Salinity
z
Oxygen
Chlorophyll